<div class="markdown">
* [https://www.owasp.org/index.php/Top\_10\_2013-A8-Cross-Site\_Request\_Forgery\_\(CSRF\)](https://www.owasp.org/index.php/Top_10_2013-A8-Cross-Site_Request_Forgery_\(CSRF\))
</div>