<div class="markdown">
* [https://www.owasp.org/index.php/Top\_10\_2013-A2-Broken\_Authentication\_and\_Session\_Management](https://www.owasp.org/index.php/Top_10_2013-A2-Broken_Authentication_and_Session_Management)
</div>