<div class="markdown">
* [Exploit](https://capacitorset.github.io/mathjs/)
* [https://www.owasp.org/index.php/Top\_10\_2013-A9-Using\_Components\_with\_Known\_Vulnerabilities](https://www.owasp.org/index.php/Top_10_2013-A9-Using_Components_with_Known_Vulnerabilities)
</div>