<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/head %>
</head>
<body>
    <% include ../common/navigation %>
    <div class='container' style='min-height: 450px'><div class='row'><div class='col-md-12'>

        <% if (messages.success) { %>
            <div class="alert alert-success"><%=messages.success%></div>
        <% } else if (messages.danger) { %>
            <div class="alert alert-danger"><%= messages.danger %></div>
        <% } else if (messages.warning) {%> 
            <div class="alert alert-warning"><%= messages.warning %></div>
        <% } else if (messages.info) {%> 
            <div class="alert alert-info"><%= messages.info %></div>
        <% } %>

        <h2> Users </h2>
        <table class='table' id='users-table'>
            <tr>
                <th >User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </table>
    </div></div></div>
    <% include ../common/footer %>
    <script type="text/javascript">
        function appendUsers(users) {
            var table = document.getElementById('users-table'),i=0;
            var j = table.rows.length
            while(i<=users.length){
                var row = table.insertRow(j);
                var c_id = row.insertCell(0);
                var c_name = row.insertCell(1);
                var c_email = row.insertCell(2);
                c_id.innerHTML = users[i].id;
                c_name.innerHTML = users[i].name;
                c_email.innerHTML = users[i].email;
                i=i+1;
                j=j+1;
            }
        }

        function loadUsers() {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                   if (xmlhttp.status == 200) {
                       respJson = JSON.parse(xmlhttp.responseText);
                       appendUsers(respJson.users);
                       console.log('There was a 200');
                   }
                   else if (xmlhttp.status == 400) {
                      console.log('There was an error 400');
                   }
                   else {
                       console.log('something else other than 200 was returned');
                   }
                }
            };

            xmlhttp.open("GET", "/app/admin/usersapi", true);
            xmlhttp.send();
        }
        loadUsers();
    </script>
</body>
</html>
