<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/head %>
</head>
<body>
    <% include ../common/navigation %>
    <div class='container' style='min-height: 450px'><div class='row'><div class='col-md-12'>

        <h2>
            <i class='fa fa-upload'></i> Bulk Import Products
        </h2>

        <% if (messages.success) { %>
            <div class="alert alert-success"><%=messages.success%></div>
        <% } else if (messages.danger) { %>
            <div class="alert alert-danger"><%= messages.danger %></div>
        <% } else if (messages.warning) {%> 
            <div class="alert alert-warning"><%= messages.warning %></div>
        <% } else if (messages.info) {%> 
            <div class="alert alert-info"><%= messages.info %></div>
        <% } %>

        <div>
            <h3>Upload products</h3>
            <form encType="multipart/form-data" method="post" action="/app/bulkproducts<% if(legacy){%>legacy<%}%>">
                <div class="input-group mb-3">
                    <div class="products-file">
                        <input type="file" name="products" class="file-input" id="inputfile" <% if(!legacy){ %> accept=".xml" <% } %>>
                        <br>
                        <input class="button" type="submit" name="submit" value="Upload">
                    </div>
                </div>
            </form>
        </div>

        <div><br>
            <!-- Handle legacy endpoit /app/bulkproducts?legacy=true -->
            <% if (!legacy) { %>
            <h3>Sample XML</h3>
<pre><xmp>
<products>
    <product>
        <name>Xbox One</name>
        <code>23</code>
        <tags>gaming console</tags>
        <description>Gaming console by Microsoft</description>
    </product>
    <product>
        <name>Playstation 4</name>
        <code>26</code>
        <tags>gaming console</tags>
        <description>Gaming console by Sony</description>
    </product>
</products>
</xmp></pre>
            <% } else { %>
                <pre style="white-space: pre-wrap;">[{"name":"Xbox 360","code":"15","tags":"gaming console","description":"Microsoft's flagship gaming console"},{"name":"Playstation 3","code":"17","tags":"gaming console","description":"Sony's flagshipgaming console"}]</pre>
            <%} %>
        </div>
        </div></div></div>
    <% include ../common/footer %>
</body>
</html>
