<div class='markdown'>
* <a href=https://owasp.org/Top10/A03_2021-Injection/">OWASP Top Ten: Injection</a>
* <a href=https://owasp.org/www-community/Injection_Flaws">OWASP: Injection Flaws</a>
</div>
