<div class="markdown">
Cross-Site Request Forgery (CSRF) is a vulnerability that may lead to the end user executing unintended actions on a web application in which they're currently authenticated to.
</div>