<div class="markdown">
* [https://www.owasp.org/index.php/Top\_10\_2013-A7-Missing\_Function\_Level\_Access\_Control](https://www.owasp.org/index.php/Top_10_2013-A7-Missing_Function_Level_Access_Control)
</div>