<div class='markdown'>
* <a href="https://owasp.org/www-community/attacks/xss/">OWASP: Cross Site Scripting (XSS)</a>
* <a href="https://www.owasp.org/index.php/OWASP\_Testing\_Guide_v4\_Table\_of\_Contents">OWASP Testing Guide v4 Table of Contents</a>
</div>
